
mixin menu-avatar(img, name)
	li.menu-item.menu__item
		.avatar.avatar__wrap
			img(class="avatar-img" src="../assets/img/" + img + ".jpg")
		a.menu-link.txt= name

mixin profile-content(mainTxt, subTxt, icon)
	li.profile__item.d-flex.justify-content-space-btwn
		.profile-item__content
			p.txt-md= mainTxt
			p.txt-sm.txt--silver-light.pt= subTxt
		if icon
			.profile-icon__wrap.mr-3.align-self-end
				.icon.icon--silver(class="icon-" + icon)

mixin profile-content(mainTxt, subTxt, icon)
	li.profile__item.d-flex.justify-content-space-btwn
		.profile-item__content
			p.txt-md= mainTxt
			p.txt-sm.txt--silver-light.pt= subTxt
		if icon
			.profile-icon__wrap.mr-3.align-self-end
				.icon.icon--silver(class="icon-" + icon)

mixin drop-down(title, items)
	.drop-down
		p.drop-down-title#drop-down= title
		ul.drop-down-items.ul-list-reset#drop-down-items
			each item in items
				li.drop-down-item
					p.txt= item
